## Loading Libraries and Dataset ##

In [1]:
import pandas as pd
import numpy as np
import re

# Loading Datasets
DATA_SET1 = './IMDBDataset_d1.csv'
df1 =pd.read_csv(DATA_SET1)

DATA_SET2 = './labelled_sen_d2.csv'
df2 =pd.read_csv(DATA_SET2)

DATA_SET3 = './twitter_d3.csv'
df3 =pd.read_csv(DATA_SET3)

DATA_SET4 = './sentiment140_d4.csv'
df4 =pd.read_csv(DATA_SET4, names=['polarity', 'id', 'date', 'query', 'user', 'text'], encoding='latin-1')

## Dataset 1: IMDB Dataset ##

In [2]:
df1.sample(10)

                                                  review sentiment
6983   Jacknife is a war movie that is just about as ...  positive
46612  This- and not a certain slightly overrated Sou...  positive
29394  The movie was much better than the other revie...  positive
6680   "Freddy's Dead" did the smartest thing it coul...  negative
36802  Against All Hope is a very poorly made, someti...  negative
39013  Obviously a lot of talented behind the scenes ...  negative
5123   Easily one of the best shows ever made, & it j...  positive
16460  I wonder how someone could diss on this movie....  positive
30283  Red Skelton was still another major star who m...  positive
9714   The Director of Kannathil Muthamittal directed...  positive

In [3]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
sentiment_label = le.fit_transform(df1["sentiment"])
print(le.classes_)
df1 =df1.drop("sentiment",axis="columns")
df1["sentiment"] = sentiment_label
df1.sample(10)
# negative - 0 , positive - 1

['negative' 'positive']

                                                  review  sentiment
30928  Lovingly crafted and terribly interesting to w...          1
11900  I didn't mind the film that much, but it was i...          0
11601  Yes, I watch this show. Because my girlfriend ...          1
20729  I adore Hedy Lamarr. I think she was vastly un...          0
17640  If you want to see a mystery, don't watch this...          0
36990  Trading on the success of the 1975 hit, this f...          0
27804  Peter Boyle was always a great actor and he pr...          1
47723  May I start off by saying that Casey Affleck i...          0
48340  Gene Roddenberry never let his fans down. His ...          1
43518  Rodney Dangerfield isn't the main character of...          0

## Dataset 2: Sentiment Labelled Sentences ##

In [4]:
df2.sample(10)

                                                 review  sentiment
1791                   Once your food arrives it's meh.          0
355   The loudspeaker option is great, the bumpers w...          0
988   It didn't work, people can not hear me when I ...          0
1976  too bad cause I know it's family owned, I real...          0
1771      Great time - family dinner on a Sunday night.          1
1170  We also ordered the spinach and avocado salad;...          0
77                         This is a great little item.          1
966   however, my girl was complain that some time t...          0
227                             I'm a bit disappointed.          0
1669  Google mediocre and I imagine Smashburger will...          0

## Dataset 3: Twitter ##

In [5]:
df3.sample(10)

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
11785,8425,NBA2K,Negative,Bruh @ Ron2K @ N2K who is?
71813,11102,TomClancysGhostRecon,Neutral,I've been trying to finally finish the . . I ...
30841,7299,LeagueOfLegends,Irrelevant,Congratulations to our own @ JulienMid and @ V...
66375,6966,johnson&johnson,Negative,guess they want to give back since as their ca...
53222,10744,RedDeadRedemption(RDR),Positive,Playing more Red Dead Redemption Onlnie earlie...
18822,12426,WorldOfCraft,Neutral,I just earned the [Horrific Vision of Orgrimma...
44369,11622,Verizon,Negative,"@verizonfios frustration! on hold for 30min, f..."
29465,667,ApexLegends,Negative,fuck
11437,13166,Xbox(Xseries),Positive,@ HardFactorMark @ HardFactorPat @ HardFactorW...
65772,6865,johnson&johnson,Neutral,https: / / t.co / EjczatmbbD

In [6]:
df3 = df3.drop(columns=['2401', 'Borderlands'])
df3.dropna(inplace=True)
df3.sample(10)

         Positive im getting on borderlands and i will murder you all ,
13628    Negative  Bro @NBA2K why tf is 2K21 demo worse is the fu...
49406    Negative  Somehow Fifa 20 is a bigger shit show then 19....
74603    Negative  If my display only support Freesync, am I scre...
67453    Negative  Create a problem for which you already have a ...
58892  Irrelevant  Why do parents freak out so badly when nobody ...
16954  Irrelevant  Kena is named one in my top 5 most anticipated...
63308    Negative  RhandlerR RhandlerR Thanks for letting everyon...
18983     Neutral  Check out this item I just got! [Reins of the ...
24936    Positive  "Joining forces" = using Google and Apple's AP...
60097  Irrelevant                                        True tears.

In [7]:
df3 = df3[df3['Positive'] != 'Irrelevant']
df3 = df3[df3['Positive'] != 'Neutral']
df3.shape

(43012, 2)

In [8]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
sentiment_label = le.fit_transform(df3["Positive"])
print(le.classes_)
df3 =df3.drop("Positive",axis="columns")
df3["Positive"] = sentiment_label
df3.rename(columns={'im getting on borderlands and i will murder you all ,': 'review', 'Positive': 'sentiment'}, inplace=True)
df3.sample(10)
# negative - 0 , positive - 1

['Negative' 'Positive']

                                                  review  sentiment
8954   Overwatch literally changed my outlook. Not ju...          1
15573  $ 40, 018, 176 Dota 2 prize war pool fucking t...          0
63526  lol has @EAMaddenNFL for PC, but its very same...          0
32447  Jinx is a nutjob but she's also really fun. Al...          1
7099                  overwatch is trash, fuck this game          0
53310                 Red Dead Redemption is pretty dope          1
37163  I hate the direction Microsoft is taking with ...          0
1020   Well, I definitely had a nice Valentine's Day....          1
14426                 THE HIGH LEVEL OF RACISM TRASHTALK          0
34348  @FortniteGame I need help with this. I have do...          0

## Dataset 4: Sentiment140 ##

In [9]:
df4.sample(10)

,polarity,id,date,query,user,text
1596846,4,2192770661,Tue Jun 16 07:31:31 PDT 2009,NO_QUERY,bombayntonic,Its 10:30 am and I'm already finished my work ...
1111124,4,1972177679,Sat May 30 08:43:09 PDT 2009,NO_QUERY,IBloginOC,This is a song you play for your children to M...
1571499,4,2188783605,Mon Jun 15 22:33:22 PDT 2009,NO_QUERY,SarahTolson,Going to try to get some sleep... I have a lov...
1165947,4,1979890035,Sun May 31 04:54:58 PDT 2009,NO_QUERY,missyd3z,@iamdiddy i ammm haha
804612,4,1468543115,Tue Apr 07 02:18:50 PDT 2009,NO_QUERY,iiNatasha,is going to take a nap before going for BM tui...
972834,4,1832702592,Sun May 17 21:18:33 PDT 2009,NO_QUERY,GoddessLeonie,Late Lunch. So hungry I could eat a horse. Won...
537201,0,2198668911,Tue Jun 16 16:24:08 PDT 2009,NO_QUERY,aksound500,"@johnny_nine That is horrible, Amy and I are s..."
1445602,4,2062409823,Sat Jun 06 23:09:09 PDT 2009,NO_QUERY,KComer,Well twitter I leave u with this... Don't trus...
315651,0,2002238109,Tue Jun 02 03:36:08 PDT 2009,NO_QUERY,maliajonas,"I give up, no way am i going to remember all t..."
390872,0,2054785458,Sat Jun 06 08:04:49 PDT 2009,NO_QUERY,lownleeeynjul,@gunkanator *big hug* how are you? I didn't se...

In [10]:
df4 = df4.drop(columns=['id', 'date', 'query', 'user'])
df4.rename(columns={'polarity': 'sentiment', 'text': 'review'}, inplace=True)
new_col = ['review','sentiment']
df4 = df4[new_col]
df4.sample(10)

                                                    review  sentiment
987132           Eating chocolate truffles and sourtapes.           4
1434200  Watching Role Models with @LoLC3 !!! Tweet me ...          4
1509893  finished the house work now  now need to find ...          4
253236    hmm back home yay I feel like i never sleep her           0
988918   Just got home from the mall.  We went shopping...          4
1377377          @LILSMUGrepSODMG let do it little homie!           4
475291         @Gem_92 i am ill..  my tummy is KILLING me           0
487907   sigh. and with luca toni in its gonna be bruta...          0
196881                                    I HATE HAYFEVER           0
1437001  . @Sirthinks I LOVE my 5DM2... need to get out...          4

In [11]:
df4 = df4.sample(n=50000)
df4.sentiment = df4.sentiment.replace({0: 0, 4: 1})
df4.sentiment.value_counts()

1    25022
0    24978
Name: sentiment, dtype: int64

In [12]:
dfs = [df1,df2,df3,df4]

final_dataset = pd.concat(dfs) 

final_dataset

                                                    review  sentiment
0        One of the other reviewers has mentioned that ...          1
1        A wonderful little production. <br /><br />The...          1
2        I thought this was a wonderful way to spend ti...          1
3        Basically there's a family where a little boy ...          0
4        Petter Mattei's "Love in the Time of Money" is...          1
...                                                    ...        ...
990230      @LSDtweets put me down as a reference on that           1
138566   shame about lucy gordon, killing herself, she ...          0
863540   mmm I took an angelfood cake. cut it, put quin...          1
969307                          has just arived in zagreb           1
1171060  http://twitpic.com/6byey - on the way home. bo...          1

[145760 rows x 2 columns]

In [13]:
print('df1:',df1.shape)
print('df2:',df2.shape)
print('df3:',df3.shape)
print('df4:',df4.shape)
print('\nFinal Dataset:',final_dataset.shape)

final_dataset.to_csv('FinalDataset.csv')

df1: (50000, 2)
df2: (2748, 2)
df3: (43012, 2)
df4: (50000, 2)

Final Dataset: (145760, 2)